@import "_variable.scss";
@import "_flex.scss";
@import "_mixins.scss";

.col-xxs{
  @include max-width(500px){
    width:100%;
  }
}
body {
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
	  line-height: 1.714;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    min-width: 100%;
    overflow-x:hidden;
    background-color: #ffffff;
    letter-spacing:0.5px;
}
img{
  max-width:100%;
}
p {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $text-color;
}

a{
  display:inline;
  color:$brand-color;
  text-decoration:none;
  outline:none;
  &:focus,&:visited{
    outline:none;
    text-decoration:none;
  }
  &:hover{
  color:$secondary-color;
  text-decoration:none;
  outline:none;
  text-decoration:none;
  }
}

/*==== Header Font Styling Css Open====*/

h1{
  color:$secondary-color;
  font-family: $base-header-font-family;
  text-transform:uppercase;
  letterspacing:1.6px;
}
h2,
h3{
    color: $secondary-text-color;
    font-family: $base-header-font-family;
    letter-spacing:1.6px;
    font-weight:300;
}
h4,
h5,
h6 {
    font-weight:400;
    color: $secondary-text-color;
    font-family: $base-font-family;
}




h1 {
    font-size: 40px;
    line-height:1;
    font-weight:700;
    a{
      color:$secondary-text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 30px;
    }
}

h2 {
    font-size: 32px;
    font-family:$base-header-font-family;
    line-height: 1.1;
    font-weight:700;
    a{
      font-weight:700;
      color:$secondary-text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 28px;
        line-height: 1.2;
    }
    @include breakpoint(xxs) {
        font-size: 24px;
        line-height: 1.3;
    }
}

h3 {
    font-size: 24px;
    line-height: 1.3;
    font-weight:700;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 10px;
    word-wrap: break-word;
    color:$secondary-text-color;
    &:after{
      content: "";
    background: $brand-color;
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    }
    a{
      font-weight:500;
      color:$text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 22px;
    }
}

h4 {
    letter-spacing:2px;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    color: #555555;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.3;
    color:$secondary-text-color;
    position:relative;
    font-weight:700;
    &:after{
      content: "";
      background: $brand-color;
      width: 40px;
      height: 3px;
      position: absolute;
      bottom: 0px;
      left: 0;
      }
    a{
      color:$secondary-text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 18px;
    }
}

h5 {
    letter-spacing:1.6px;
    font-size: 12px;
    line-height: 1.33;
    a{
      color:$secondary-text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 10px;
    }
}

h6 {
    letter-spacing:6px;
    font-size: 10px;
    a{
      color:$secondary-text-color;
      &:hover{
        color:$brand-color;
      }
    }
    @include breakpoint(xs) {
        font-size: 9px;
    }
}
/*==== Header Font Styling Css Close====*/

/*==== ul li listing Styling Css Open====*/
.natraj_listing{
  ul{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    li{
      padding-left:12px;
      position:relative;
      &:before{
        content:'';
        position:absolute;
        top:6px;
        left:0;
        width:5px;
        height:5px;
        border-radius:100%;
        background:$brand-color;
        z-index:3;
      }
    }
    ul{
      margin-left:5px;
    }
  }
}
/*==== ul li listing Styling Css Close====*/



/*==== Button Styling Css Open====*/

input[type="text"]{
  &:focus {
    color: $text-color;
  }

  &.active,
  &:focus,
  &:visited {
    outline: none;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
  }

  &:-moz-placeholder {
    /* Firefox 18- */
  }
}
select{
  color:$text-color;
}


.epl_btn{
  margin-top:30px;
  display:inline-block;
  min-width:170px;
  padding:10px 30px;
  font-size:12px;
  font-weight:500;
  background:$brand-color;
  color:#ffffff;
  line-height:1.7;
  text-align:center;
  text-transform:uppercase;
  border:1px solid transparent;
  @include transition;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0);
  &:focus,
  &:hover{
    -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.5);
    color:#ffffff;
  }
}
.epl_btn_block{
  width:100%;
}
.readmore_transparent{
  margin-top:30px;
  display:inline-block;
  min-width:170px;
  padding:10px 30px;
  font-size:12px;
  font-weight:500;
  background:transparent;
  color:$secondary-text-color;
  line-height:1.7;
  text-align:center;
  text-transform:uppercase;
  border:1px solid #eaeaea;
  @include transition;
  &:focus,
  &:hover{
    background:$brand-color;
    border-color:$brand-color;
    color:#ffffff;
  }
}
/*==== Button Styling Css Close====*/
/* for flex center */
.flex-center{
  @include min-width(768px){
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -moz-align-items:center;
    -ms-align-items:center;
    -webkit-align-items:center;
    align-items:center;
    -moz-justify-content:center;
    -ms-justify-content:center;
    -webkit-justify-content:center;
    justify-content:center;
  }
}

.section_title{
  margin-top: 0;
  margin-bottom: 20px;
}
.section_title_desc{
  padding-top:20px;
  margin:0 auto;
  margin-bottom:40px;
  position:relative;
  color:$text-color;
  line-height:1.6;
  max-width:500px;
  &:before{
    content:'';
    position:absolute;
    top:0;
    left:50%;
    width:70px;
    height:2px;
    background:$brand-color;
    @include translate(-50%,0);
    z-index:9;
  }
}

/*== Section Title Css Open ==*/
  .section-title-wrap{
    margin-bottom: 50px;
    @include max-width(767px){
      margin-bottom:0;
    }
    header.section-title{
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      margin-bottom:20px;
      h2{
        font-size:32px;
        @include min-width(768px){
          position: relative;
          font-size: 100px;
          font-weight: 500;
          letter-spacing: 10px;
          text-indent: -5px;
        }
        margin: 0;
        text-transform: uppercase;
        color: #f0f0f0;
        line-height: 1;
        &:after{
          @include min-width(768px){
            content: "";
            position: absolute;
            background: $brand-color;
            width: 48px;
            height: 3px;
            bottom: -10px;
            left: 65%;
          }
        }
      }
      h3{
        @include min-width(768px){
          position: absolute;
          left: 65%;
          top: 35%;
          font-size: 30px;
        }
        font-size: 14px;
        font-weight: 900;
        white-space: nowrap;
        margin: 0;
        text-transform: uppercase;
        color: #555555;
        padding-bottom:0;
        &:after{
          display:none;
        }
      }
    }
  }
/*== Section Title Css Close ==*/
/*== Owl Carousel Css Open ==*/
ul.owl-carousel{
  margin:0;
  padding:0;
  list-style:none;
}
.owl-carousel{
  .owl-nav{
    display:none;
  }
  .owl-dots{
    display:none;
    margin-top:30px;
    @include min-width(579px){
      display:inline-block;
    }
    @include clearit;
    .owl-dot{
      float:left;
        display:inline-block;
        width:20px;
        height:4px;
        background:#eaeaea;
        margin-right:5px;
        &:last-of-type{
          margin-right:0;
        }
        @include transition;
        &.active,
        &:hover{
          background:$brand-color;
        }
      span{
        display:none;
      }
    }
  }
}
/*== Owl Carousel Css Close ==*/
