@import "_fonts.scss";
$brand-color: #a51814;
$secondary-color: #00235D;
$text-color: #222222;
$secondary-text-color: #555555;
$base-font-size: 12px;
$base-font-family: 'Roboto', sans-serif;
$base-header-font-family: 'Roboto', sans-serif;
$base-font-weight: 400;
